<!-- Nested templates: https://www.htmlgoodies.com/beyond/reference/nesting-templates-with-go-web-programming.html -->
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
{{ define "logs" }}
	<div class='content'>
      <div class='content-hdr'>Logs</div>

      {{ if . }} 
	      <table cellpadding='4' style='padding: 10px' width='100%'>
	        {{range $index, $log := . }}
		        <tr>
			        <td class='table-cell'>{{ $log }}</td>
		        </tr>
	        {{ end }}

	      </table>
      {{ else }}
      	 <div>No logs</div>
      {{ end }}
    </div>
{{ end }}