<!-- Nested templates: https://www.htmlgoodies.com/beyond/reference/nesting-templates-with-go-web-programming.html -->
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
{{ define "policy" }}
	<div class='content'>
      <div class='content-hdr'>Permitted domain shares</div>

      <table cellpadding='4' style='padding: 10px' width='100%'>
      	<tr>
            <td class='table-hdr'>Folder</td>
            <td class='table-hdr'>Domain</td>
        </tr>
        {{range $index, $element := . }}
	        <tr>
		        <td class='table-cell'><a href='https://drive.google.com/corp/drive/folders/{{ $element.Id }}'>
						{{ $element.Name }}</a></td>
				<td class='table-cell'>{{ $element.Domain }}</td>
	        </tr>
        {{ end }}

      </table>
    </div>
{{ end }}